<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <main>
      <h1>Transaction Successful!</h1>
      <P>Money has been sent</P>
    </main>
  </body>
</html>
